common: &common
  username: root
  password:
  encoding: utf8
  host:     localhost
  database: activerecord_dynamic_test

mysql2: &mysql2
  <<: *common
  adapter: mysql2

postgresql: &postgresql
  <<: *common
  username: postgres
  adapter: postgresql
  min_messages: warning

sqlite3: &sqlite3
  adapter: sqlite3
  database: test.db
